
body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: monospace;
  
    
}

#inp{
    background-color: rgb(88, 89, 88);
    height: 60px;
    width: 310px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 40px;
    color: white;
    padding-left: 30px;
    font-size: larger;
    
}

#inp:focus{
   outline: none;
   margin-top: 18px;
   height: 64px;
   width: 314px;
}

.add-btn{
    height: 50px;
    width: 50px;
    font-size: x-large;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
}

#section{
     position:fixed ;
     bottom: 15px;
     right: 0;
     left: 0;
     
    
} 

#foot{
    height:250px;
}

#list{
   
    text-align: start;
    font-size: xx-large;
    width: 20px;
    display: inline; 
   
}
